.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #ff9800;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: #FFAA3B;
    padding: 10px 0;
}

.titulo {
    text-align: center;
    margin-top: 0;
    color: #000000;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.subtitulo {
    text-align: center;
    color: #000000;
}

.producto {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #181717;
    background-color: #AEC8FF;
    text-align: center;
}

.producto img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.producto-titulo {
    margin-top: 10px;
    color: #333;
}

.producto-descripcion {
    color: #666;
}

.producto-boton {
    background-color: #7ED957;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto-boton:hover {
    background-color: #7ED957 ;
}

form {
    text-align: center;
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    color: #333;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos del pie de página */
footer {
    background-color: #181717;
    padding: 10px 0;
    text-align: center;
}

footer p {
    color: #cab6b6;
    margin: 0;
    font-size: 12px;
}